body {
  font-family: "Arial", sans-serif;
  background-color: #282c34;
  color: #61dafb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.gameContainer {
  border: 2px solid #61dafb;
  padding: 20px;
  border-radius: 15px;
}

.container h1 {
  color: #fff;
}

.chooseGames h2 {
  margin: 20px 0;
}

button {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4fa1d7;
}

#countdownDisplay {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}
